<div class="container d-flex align-items-center justify-content-between">

  <h1 class="logo"><a href="index.html"><img src="../../assets/images/CASS.png"></a></h1>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
  <div class="header-social-links">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link" href="#hero">Home</a></li>
      <li><a class="nav-link" href="#about">About Us</a></li>
      <li class="dropdown"><a href="#"><span>Solutions</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">CASS Product Counter</a></li>
          <li><a href="#">CASS Inspection system</a></li>
          <li><a href="#">CASS Health & Safety</a></li>
          <li><a href="#">CASS Vehicle Monitoring</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="#"><span>Industries</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">FMCG</a></li>
          <li><a href="#">Pharma</a></li>
          <li><a href="#">Food & Beverage</a></li>
          <li><a href="#">Solar Panel</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="#"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">ROI Calculator</a></li>
          <li><a href="#">Documents</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Webinar</a></li>
        </ul>
      </li>
      <li class="dropdown"><a>Contact <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">Sales Enquiry (sales@cassaiot.com)</a></li>
          <li><a href="#">Business Enquiry (contact@cassaiot.com)</a></li>
          <li><a href="#">Support(support@cassaiot.com)</a></li>
        </ul>
      </li>
    </ul>
    <i (click)="openMenu($event)" class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

  <ng-container id="mobile-popUp" *ngIf="menuFolded">
    <nav  class="navbar-mobile">
      <ul>
        <li><a class="nav-link" href="#hero">Home</a></li>
        <li><a class="nav-link" href="#about">About</a></li>
        <li><a class="nav-link" href="#services">Services</a></li>
        <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link" href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i (click)="openMenu($event)" class="bi bi-x mobile-nav-toggle"></i>
    </nav>
  </ng-container>
</div>
